*{
	border:0;
	margin:0;
	padding:0;
}

body{
	background-color: #777;
	color:#777;
	font-family:"Arial", "Helvetica Neu", "Helvetica", "sans-serif";
	font-size:18px;
	width:960px;
	margin:auto;
}  

#header{
	margin-top:10px;
	background: #ebebeb;
	text-align:center;
	padding-top:25px;
	height:75px;
}

#nav{
	margin-top:10px;
	background: #ebebeb;
	text-align:center;
	padding-top:25px;
	height:75px;
}

#section{
	background: #ebebeb;
	text-align:center;
	width: 495px;
	height:280px;
	padding-top:20px;
	float:left;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:20px;
}

#aside{
	background: #ebebeb;
	text-align:center;
	width: 455px;
	height:270px;
	padding-top:30px;
	margin-top:20px;
	margin-bottom:20px;
	float:left;
}

#article{
	color:white;
	background-color: #777;
	width: 475px;
	height: 180px;
	padding-top:15px;
	align-content:center;
	position:relative;
	left: 10px;
	top: 35px;
}

#h13{
	color:#777;
	background: #ebebeb;
	font-weight: bold;
	width: 435px;
	padding-top:15px;
	height: 40px;
	position:relative;
	top:15px;
	left:20px;
}
#pa{
color:#777;
	background: #ebebeb;
	font-weight: bold;
	width: 435px;
	padding-top:15px;
	height: 40px;
	position:relative;
	top:25px;
	left:20px;
}



#footer{
	clear:both;
	background: #ebebeb;
	text-align:center;
	padding-top:25px;
	height:75px;
	margin-top:0px;
}
